#slide1{
    background-image: linear-gradient(to right, #151515FF, #15151580), url('../../assets/images/banner/1.jpg');
    background-size: cover;
    background-repeat: none;
}

#slide2{
    background-image: linear-gradient(to right, #151515FF, #15151500), url('../../assets/images/banner/2.jpg');
    background-size: cover;
    background-repeat: none;
}

#slide3{
    background-image: linear-gradient(to right, #151515FF, #15151500), url('../../assets/images/banner/3.jpg');
    background-size: cover;
    background-repeat: none;
}

#slide4{
    background-image: linear-gradient(to right, #151515FF, #15151500), url('../../assets/images/banner/4.jpg');
    background-size: cover;
    background-repeat: none;
}

#personImg{
    background-image: url("../../assets/images/about_us/person.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

#partsImg{
    background-image: url("../../assets/images/about_us/parts.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border-color: white;
    border-width: 10px;
}